html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}body{margin:0;padding:0}ol,ul{list-style:none}a{text-decoration:none;color:inherit}

:root {
    /* color */
    --color-primary: hsl(332, 87%, 52%);
    --color-secondary: #000;
    --color-bg: #fafafa;
    --color-text: #222222;
    --color-accentuation: #000;
    /* font */
    --font-title: Nevins, serif;
    --font-text: "Roboto", system-ui;
    /* fz */
    --fz-h1: 4rem;
    --fz-h2: 3.125rem;
    --fz-h3: 3rem;
    --fz-h4: 2.25rem;
    --fz-h5: 2rem;
    --fz-h6: 1.5rem;
    --fz-p: 1.125rem;
    /* border raduis */
    --br-button: 15px;
}

/* font */
@font-face {
    font-family: Nevins;
    src: url(../assets/font/Nevins/Nevins.otf);
}
/* global */
body {
    font-family: var(--font-text);
    font-size: var(--fz-p);
    color: var(--color-text);
    background: var(--color-bg);
}
header, section {
    padding: 50px 140px;
}
#typewrittereffect-home {
    font-size: var(--fz-h6);
}
.title {
    font-size: var(--fz-h1);
}
.surtitle {
    font-size: var(--fz-h2);
}
.link_primary {
    background: var(--color-primary);
    color: var(--color-bg);
    padding: 5px 15px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.link_primary:hover {
    background: var(--color-bg);
    color: var(--color-primary);
}

/* nav */
.nav {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    width: 100%;
    background: #fff;
}
.nav .box_nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.nav .box_nav_links a {
    position: relative;
}
.nav .box_nav_links a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: hsla(332, 87%, 52%, 0.5);
    z-index: -1;
    transition: width .5s ease-in-out;
}
.nav .box_nav_links a:hover:before {
    width: 100%;
}

.logo {
    font-family: var(--font-title);
    font-size: var(--fz-h6);
    position: relative;
    font-weight: 900;
}
.logo span {
    position: relative;
}
.logo span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: hsla(332, 87%, 52%, 0.5);
    z-index: -1;
}

/* TODO delete  */
img {
    max-width: 300px;
}